{{#get "pages" filter="slug:it-works" limit="1" as |featured|}}{{#if featured}}

    {{#foreach featured}}

    <article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}} single-post">

        <div class="gh-content gh-canvas disable-margin-top">
            {{content}}
        </div>

        {{#if @custom.show_author}}
            {{> "author-box"}}
        {{/if}}

    </article>

    {{/foreach}}

{{/if}}{{/get}}