.nikita-hello-container {
    margin-top: 0 !important;
}

.nikita-hello-content {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
@media screen and (max-width: 767px) {
    .nikita-hello-content {
        flex-direction: column;
        gap: 1rem;
    }
}

.nikita-hello-content > * {
    margin-top: 0 !important;
}